.author
  .user_data
    %span.asked_by
      = t('activerecord.attributes.question.asked_by')
    -if @question.anonymous
      =t("global.anonymous")
    -else
      =render :partial => "users/user_mini", :locals => {:user => @question.user}
    %span.time_ago.published{:title => @question.created_at, :class => "relativetime"}
      = t("time.ago", :time => time_ago_in_words(@question.created_at))
  .clear
- if @question.updated_by.present?
  .editor
    .user_data
      %span.asked_by
        = t('activerecord.attributes.question.updated_by')
      =render :partial => "users/user_mini", :locals => {:user => @question.updated_by}
      %span.time_ago.published{:title => @question.updated_at, :class => "relativetime"}
        = t("time.ago", :time => time_ago_in_words(@question.updated_at))
    .clear
.clear
