.right

  -unless local_assigns[:only_openid]

    #google
      =link_to "Google<img class='right' src='/images/share/google_32.png' style='height:24px; width:24px'>", "#", :title => "Google", :id => "google_auth"

    #facebook
      -if with_facebook?
        =link_to "Facebook<img class='right' src='/images/share/facebook_32.png' style='height:24px; width:24px'>", oauth_authorize_path, :title => "Facebook", :id => "facebook_auth"
  
    #twitter

      -if AppConfig.twitter["activate"]
        =link_to "Twitter<img class='right' src='/images/share/twitter_32.png' style='height:24px; width:24px'>", twitter_authorize_path, :title => "Twitter", :id => "twitter_auth"

    -#linkedin #TODO
      -#=link_to "Linkedin<img class='right' src='/images/share/linkedin_32.png' style='height:24px; width:24px'>", "#", :title => "Google", :id => "linkedin_auth"

    .note
      = "We do not store or access any of your personal information"
