- rendering_start = Time.now
- is_mobile = params[:mobile]
= javascript_include_merged :login

- session["return_to"] = request.referrer unless request.referrer.blank?

-if current_group.registered_only
  %h1
    IMPORTANT: You must be logged in to see this site


Layout

- if is_mobile || current_group.group_type == "mobile"
  = render :partial => "/sessions/new_mobile"
- else
  = render :partial => "/sessions/new"







