.gitignore
m-*.sh
backup/
*~
.DS_Store
*.orig
coverage
*.log
*.sqlite3
tmp/
public/system/
public/stylesheets/compiled/
config/shapado.yml
config/environments/development.rb
data/*.dat
config/database.yml
base_packaged.*
.directory
