config/locales/
app/stylesheets/navigation/
app/stylesheets/themes/
*~
.DS_Store
*.orig
coverage
*.log
*.sqlite3
public/stylesheets/compiled/
config/shapado.yml
data/*.dat
config/database.yml
base_packaged.*
.directory
