%ul.open_requests.list
  = t(".open_requests_counter", :count => item.open_requests.count)
  -if current_user.mod_of?(current_group)
    = link_to t("scaffold.details"), item_open_requests_path(item)
