= link_to(image_tag('/images/share/twitter_32.png', :class => 'microblogging', :style=>'height:16px;width:16px;'),share_url(@item, :twitter), :rel=>"external nofollow", :title => t("items.show.share_on", :site => "twitter"))
= link_to(image_tag('/images/share/linkedin_32.png', :class => 'microblogging', :style=>'height:16px;width:16px;'),share_url(@item, :linkedin), :rel=>"external nofollow", :title => t("items.show.share_on", :site => "linked in"))
= link_to(image_tag('/images/share/think_32.png', :class => 'microblogging', :style=>'height:16px;width:16px;'),share_url(@item, :think), :rel=>"external nofollow", :title => t("items.show.share_on", :site => "think.it"))
= h("share")
