.stats
  .box.votes
    .counter{:class => class_for_number(item.votes_average) }
      =format_number(item.votes_average)
  .box.answers{:class => class_for_item(item), :title => item.accepted ? t(".accepted_tooltip") : "" }
    .counter
      =format_number(item.answers_count)
  .box.views
    .counter{:class => class_for_number(item.views_count) }
      =format_number(item.views_count)
