-link = url_for(:host => @group.domain, :controller => "items", :action => "show", :id => @item.to_param)
-user_link= url_for(:host => @group.domain, :controller => "users", :action => "show", :id => @user.to_param)

= t('notifier.global.hi', :user => @item.user.login)
%br
%br

= t('.message1', :user => link_to(@user.login, user_link), :group => @group.name)

%br
%br
= t('.message2')
%h2
  = link_to h(@item.title), link

%br
