.block
  %h3
    = "#{@user.name}"

  .controls
    -if current_user == @user
      .navcontrols.right
        =link_to h("Edit Image"), avatars_path, :class => "standard-button"
  .content
    - @avatar = Avatar.find(@user.profile_image)
    - if @avatar.present?
      - cropped_avatar = @avatar.avatar.process(:thumb,@avatar.avatar_cropping)
      - profile_image = cropped_avatar.process(:thumb,"256x256").url
      = image_tag profile_image 
    - else
      = image_tag "/images/anonymous_avatar.png"
