.block
  %h3
    = "Details"
  .content
    %table
      %tr
        %td.user-field
          =t(:name, :scope => "activerecord.attributes.user")
        %td.user-field-value
          =h(@user.name)
      %tr
        %td.user-field
          =t(:website, :scope => "activerecord.attributes.user")
        %td.user-field-value
          -if @user.website
            =link_to h(@user.website), h(@user.website), :rel => "nofollow"

      - if !@user.hide_country
        %tr
          %td.user-field
            = "Location"
          %td.user-field-value
            %span.adr
              %span.country-name
                = t("global.from", :site => @user.country_name)
                = country_flag(@user.country_code, @user.country_name)
