-cache("new_users_#{current_group.id}") do

  %h3
    ="Recent members"
  .content
    %ul.members-list
      -recent_users(current_group).each do |user|
        -if user.login != "admin"
          %li{:onclick => "document.location.href='#{user_path(user)}'"}
            = render :partial => "member_details_inner", :locals => {:user => user}
  .clear
