
-if width == "narrow"

  .user_mini{:style=>"width:140px;height:50px; overflow:hidden"}
    %div.avatar-narrow
      = image_tag "/images/anonymous_avatar.png", :height => "32px", :width => "32px" #, user_path(user)

    %div.details{:style=>"width:92px;float:left; overflow:hidden"}

      %div.fn.nickname
        ="nicname"




  .clear






