
%table.table
  %tr
    %th
      =t("activerecord.attributes.item.title")
    %th
      =t("activerecord.attributes.item.body")
    %th
  -@items.each do |item|
    %tr
      %td
        = link_to h(item.title), item_path(item)
      %td
        = truncate(h(item.body), :length => 100)
      %td
        .tag-list
          %span.retag
            = link_to t('items.show.retag'), retag_item_path(item), :id => 'retag'

= will_paginate @items

