- item = local_assigns[:item]


-if item.activity_at > Time.zone.now.yesterday && !item.last_target.present?
  %span.new{:style=>"background:#{current_group.supplementary}"}
    = "new"


-if item.activity_at > Time.zone.now.yesterday && item.last_target.present?
  %span.hot
    = "hot"

-#elsif item.activity_at > Time.zone.now.yesterday && !item.last_target.present
  -#%span.edited
    -#= "edited"
