-announcements = current_announcements(session[:announcement_hide_time])
-unless announcements.empty?
  #announcement
    #announcement_message
      -announcements.each do |announcement|
        =markdown(announcement.message)
    =link_to "Close", hide_announcements_path, :id => "hide_announcement"
    .clear
-if !logged_in?
  -if AppConfig.twitter["activate"] && request.referrer =~ %r{^https?://(www\.){0,1}twitter\.com}
    .flash
      .message.notice.highlight_for_user{:style => "padding: 8px 4px; font-weight: bold"}
        =t(".welcome_from")
        =link_to t("sessions.new.with_twitter"), twitter_authorize_path, :title => "Twitter", :id => "twitter_auth", :class => "highlight_for_user"
        =t(".now")
  -elsif with_facebook? && request.referrer =~ %r{^https?://(www\.){0,1}facebook\.com}
    .flash
      .message.notice.highlight_for_user{:style => "padding: 8px 4px; font-weight: bold"}
        =t(".welcome_from")
        =link_to t("sessions.new.with_facebook"), oauth_authorize_path, :title => "Facebook", :id => "facebook_auth"
        =t(".now")
  .clear
