-# url = "http://developers.thinkingdaily.com/add/new?item[section]=bugs"
- url = "/add/new?item[section]=bugs"
- url << "&item[title]='Bug: '"
- url << "&item[tags]=bug,#{AppConfig.version},#{current_group.name}"
- url << "&item[body]=This is what happened..."

%div.contribute.bug-button{:style => "background-color:#990000;border: 1px solid #990000;text-shadow: #990000 0px -1px 1px"}
  ="&#9733;"
  =link_to "bug ", url, :rel => 'nofollow'

