- url = "http://developers.thinkingdaily.com/add/new?item[mode]=bug"
- url << "&item[title]='Bug: '"
- url << "&item[tags]=bug,#{AppConfig.version},#{current_group.name}"
- url << "&item[body]=This is what happened..."

%div.contribute.bug-button
  ="&#9733;"
  =link_to "report bug ", url, :rel => 'nofollow'

