- url = "http://thoughtdomains.org/community/bugs/!/new?"
- url << "&item[title]='Bug: '"
- url << "&item[tags]='bug','#{AppConfig.version}','#{current_group.name}-#{current_group.name_highlight}'"
- url << "&item[body]='This is what happened...'"

=link_to "report bugs ", url, :rel => 'nofollow'

