-# url = "http://thoughtdomains.org/community/bugs/!/new?"
- bug_url = "http://quangoquango.org/group/bugs/index/new?"
- bug_url << "&item[title]=Bug: "
- bug_url << "&item[tags]=bug,#{AppConfig.version.to_s},#{current_group.name}-#{current_group.name_highlight}"
- bug_url << "&item[body]=This is what happened..."



.bug-report
  =link_to "report bugs ", bug_url, :rel => "nofollow"

