%ul{:class=>"channel_listing_horizontal", :style=>"margin-left:4px;"}
  %li
    =link_to "Home"
  %li
    =link_to "Business","http://fastthinking.com.au/fields-of-interest/business.aspx?filterby=Business"
  %li
    =link_to "Management","/fields-of-interest/business-management.aspx?filterby=Business%20Management"
  %li
    =link_to "Marketing","/fields-of-interest/marketing.aspx?filterby=Marketing"
  %li
    =link_to "Education","/fields-of-interest/education.aspx?filterby=Education"
  %li
    =link_to "Governement","/fields-of-interest/government.aspx?filterby=Government"
  %li
    =link_to "Science","/fields-of-interest/science.aspx?filterby=Science"
  %li
    =link_to "Tecnology","/fields-of-interest/technology.aspx?filterby=Technology"
  %li.selected
    =link_to "Lifestyle","/lifestyle.aspx"
  %li{:style=>"width:100%"}
    =link_to "Buy the magazine", "/mag.aspx",:class=>"standard-button",:style=>"background-color:#{current_group.complementary};border:2px solid #{current_group.complementary};padding:0 8px; font-weight:bold; float:right"

.clear
