%div.discussion{:onclick => 'window.location(/bookmarks/new)'}
  =link_to "&#9733;", new_discussion_path, :rel => 'nofollow'
%div.bookmark{:onclick => 'window.location(/bookmarks/new)'}
  =link_to "BM", new_bookmark_path, :rel => 'nofollow'
%div.question{:onclick => 'window.location('+new_question_path+')'}
  =link_to "Q", new_question_path, :rel => 'nofollow'

