-if @active_tag

  #contextual-navigation{:class => @active_tab}
    %ul#sortable
      -if current_group.show_news_articles
        %li.news_article
          =link_to t("layouts.application.news"), news_articles_path
      -if current_group.show_newsfeeds
        %li.newsfeed
          =link_to t("layouts.application.newsfeeds"), newsfeeds_path
      -if current_group.show_video
        %li.video
          =link_to t("layouts.application.videos"), videos_path
      -if current_group.show_images
        %li.image
          =link_to t("layouts.application.images"), images_path
      -if current_group.show_articles
        %li.article
          =link_to t("layouts.application.articles"), articles_path
      -if current_group.show_blogs
        %li.blog
          =link_to t("layouts.application.blogs"), blogs_path
      -if current_group.show_questions
        %li.question
          =link_to t("layouts.application.questions"), questions_path
      -if current_group.show_discussions
        %li.discussion
          =link_to t("layouts.application.discussions"), discussions_path
      -if current_group.show_bugs
        %li.bug
          =link_to t("layouts.application.bugs"), bugs_path
      -if current_group.show_features
        %li.feature
          =link_to t("layouts.application.features"), features_path
      -if current_group.show_bookmarks
        %li.bookmark
          =link_to t("layouts.application.bookmarks"), bookmarks_path, :mode=>"bookmark"

  .clear

-else

  #contextual-navigation{:class => @active_tab}
    %ul#sortable
      -if current_group.show_news_articles
        %li.news_article
          =link_to t("layouts.application.news"), news_articles_path
      -if current_group.show_newsfeeds
        %li.newsfeed
          =link_to t("layouts.application.newsfeeds"), newsfeeds_path
      -if current_group.show_video
        %li.video
          =link_to t("layouts.application.videos"), videos_path
      -if current_group.show_images
        %li.image
          =link_to t("layouts.application.images"), images_path
      -if current_group.show_articles
        %li.article
          =link_to t("layouts.application.articles"), articles_path
      -if current_group.show_blogs
        %li.blog
          =link_to t("layouts.application.blogs"), blogs_path
      -if current_group.show_questions
        %li.question
          =link_to t("layouts.application.questions"), questions_path
      -if current_group.show_discussions
        %li.discussion
          =link_to t("layouts.application.discussions"), discussions_path
      -if current_group.show_bugs
        %li.bug
          =link_to t("layouts.application.bugs"), bugs_path
      -if current_group.show_features
        %li.feature
          =link_to t("layouts.application.features"), features_path
      -if current_group.show_bookmarks
        %li.bookmark
          =link_to t("layouts.application.bookmarks"), bookmarks_path, :mode=>"bookmark"


  .clear

%script
  = "$(document).ready(function() {"
  = "$('li."+ @mode.to_s+"').css({'background-color':'"+current_group.secondary+"'});"
  = "$('li."+ @mode.to_s+" a').css({'color':'#fff'});"
  = "});"




