%div.contribute.toolbar-button{:style => "background-color:#990000;border: 1px solid #990000;text-shadow: #990000 0px -1px 1px"}
  ="&#9733;"
  =link_to "Add something ", new_create_path, :rel => 'nofollow'

