%div.contribute.toolbar-button{:style => "background-color:#{current_group.tertiary};border: 1px solid #{current_group.primary};text-shadow: #{current_group.tertiary} 0px -1px 1px"}
  ="&#9733;"
  =link_to "Add something ", new_create_path, :rel => 'nofollow'

