#contextual-navigation{:class => @active_section}
  %ul
    -current_group.sections.each do |section|
      -if !section.hidden?
        -if section.name == @active_section
          %li{:class => section.name }
            - section_link = section.name.capitalize
            = link_to section_link, nodes_path(section.name), :style => "color: black"
        -else
          %li{:class => section.name }
            - section_link = section.name.capitalize
            -#= link_to section_link, nodes_path(section.name)
            = link_to section_link, nodes_path(section.name), :object => section


    %li{:style => "border-left:1px solid white"}
      = link_to "Groups", groups_path
    %li
      = link_to "Members", users_path

.clear
