%div.discussion{:onclick => 'window.location(/bookmarks/new)'}
  =link_to "&#9733;", new_discussion_path, :rel => 'nofollow'
%div.bookmark{:onclick => 'window.location(/bookmarks/new)'}
  =link_to "BM", new_bookmark_path, :rel => 'nofollow'
%div.item{:onclick => 'window.location('+new_item_path+')'}
  =link_to "Q", new_item_path, :rel => 'nofollow'

