= current_group.head
#header

  #label
    .label-highlight{ :style => "font-size:3.3em;font-weight:bold;line-height:40px" }
      = "&#9760;"
    %span.label-special
      = h(@active_tab)

  #search
    = render :partial => "shared/search"




.clear



