.hosting-partner
  .logo
    = image_tag "/images/logos/skybox-logo-small.png"
  .details
    = "Premium domain management and cloud hosting by<br/>"
    = "<a href='http://skybox.com.au' title='Premium domain management and hosting'>Skybox Computing Partners</a>"

