.member
  .author.user_info.vcard
    .gravatar.logo
      -if !@item.anonymous
        = gravatar(@item.user.email.to_s, :size => 32)
    .user_data
      %span.asked_by
        = t('activerecord.attributes.item.asked_by')
      -if @item.anonymous
        =t("global.anonymous")
      -else
        =render :partial => "users/user_mini", :locals => {:user => @item.user}

    .clear
.clear
