


.form

  - quick_create = current_group.quick_create
  - doctype = Doctype.find(quick_create)
  - item = Item.new 



  - form_for(item, :url => new_item_path(current_group.quick_create), :html => {:class => "form",:method => "get"}) do |f|
    = render :partial => "items/form_quick_create_mobile", :locals => {:f => f, :doctype => doctype}

.clear

