%div.quick-create{:style => "background-color:#b6b6b6; padding:0 8px;"}
  - current_group.doctypes.each do |doctype|
    %ul
      - if !doctype.hidden
        %li
          = link_to "#{doctype.create_label}", new_item_path(doctype), :class => "action-button"
