.search-box
  - form_tag search_path, :method => :get, :style => "display: inline" do
    = text_field_tag :q, params[:q], :id => "search-field", :style=>"float:left"
    %button.search-submit{:class => 'signup-button',:style=>"background-color:#{current_group.primary_dark};margin-top:0px; height:22px; line-height:22px;"}
      = "Search"
    -#%div.hidden
      -#= radio_button_tag(:mode, "here", true)
      -#= label_tag "Here"
      -#= radio_button_tag(:mode, "there")
      -#= label_tag "There"
      -#= radio_button_tag(:mode, "everywhere")
      -#= label_tag "Everywhere"

