.search-box{:style=>"margin:1px 8px;"}
  - form_tag search_path, :method => :get, :style => "display: inline" do
    = text_field_tag :q, params[:q], :id => "search-field", :style=>"float:left"
    %button.search-button{:style=>"height:22px; line-height:22px;"}
      = "Search"

