#top-bar{:style => "float:left;width:160px; border-right:1px inset white;"}
  -if logged_in?
    -if !current_group.isolate && AppConfig.enable_groups
      .edition
        %ul.topbar.combobox.left
          %li
            %span.left=image_tag(favicon_group_path(current_group), :style => "height:18px; width:18px")
            %span=link_to h(current_group.name), domain_url(:custom => current_group.domain)
            %ul
              -current_user.groups(:select => [:name, :domain]).each do |group|
                %li
                  %span.left
                  -if group.has_custom_favicon?
                    = image_tag(favicon_group_path(group), :style => "height:16px; width:16px")
                  -else
                    = image_tag("/favicon.ico", :style => "height:16px; width:16px")
                  %span=link_to h(group.name), domain_url(:custom => group.domain)

  -else
    .edition
      =link_to h(current_group.name), domain_url(:custom => current_group.domain)


#top-bar{:style => "float:right;width:auto;"}
  -if logged_in?
    -if current_user.owner_of?(current_group)
      .entry
        =link_to t(".admin"), manage_properties_path, :class => "manage_link"
        |
    -if current_user.mod_of?(current_group)
      .entry
        =link_to t("layouts.application.moderate"), moderate_path, :class => "moderate_link"
        |
    .entry
      = gravatar(current_user.email.to_s, :size => 18)
      = link_to(h(current_user.login), user_path(current_user))
      %span.reputation{:title => t("activerecord.attributes.user.reputation")}=format_number(current_user.reputation_on(current_group))
      |
    .entry
      =link_to t(".user_page"), user_path(current_user)
      |
    .entry
      =link_to h("My Edition"), user_path(current_user)
      | 
    .entry
      =link_to h("My Profile"), user_path(current_user)
      | 
    .entry
      =link_to h("My Community"), user_path(current_user)
      |
    .entry
      =link_to t("layouts.application.settings"), settings_path
      |

    -top_bar_links.each do |link|
      .entry
        =link
        |
    .entry
      =link_to t("layouts.application.logout"), destroy_user_session_path

  -else
    -if AppConfig.is_shapadocom && !current_group.isolate
      .entry
        =link_to t("doc.plans.plans"), domain_url(:custom => AppConfig.domain, :controller=>"doc",:action=>"plans")
        |
    -top_bar_links.each do |link|
      .entry
        =link
        |

    .entry
      =link_to t("layouts.application.log_in"), new_user_session_path

.clear


