-if @active_tag

  #navigation-title
    %h1
      = "Topic > " << h(current_tags.to_s).capitalize

  #navigation
    %ul
      %li.channels
        =link_to h("layouts.application.channels"), links_path #channels_path
      %li.newswires
        =link_to t("layouts.application.wires"), questions_path #{:tags => @active_tag}
      %li.questions
        =link_to t("layouts.application.questions"), questions_path
      %li.users
        =link_to t("layouts.application.users"), users_path
      %li.links
        =link_to t("layouts.application.links"), links_path
      %li.pages.last
        =link_to t("layouts.application.pages"), pages_path
  .clear

-else

  #navigation
    #navigation-title
      %h1
        = "Discussions > " << h(current_tags.to_s).capitalize
    %ul
      %li.channels
        =link_to h("layouts.application.channels"), links_path #channels_path
      %li.newswires
        =link_to t("layouts.application.wires"), questions_path #{:tags => @active_tag}
      %li.questions
        =link_to t("layouts.application.questions"), questions_path
      %li.users
        =link_to t("layouts.application.users"), users_path
      %li.links
        =link_to t("layouts.application.links"), links_path
      %li.pages.last
        =link_to t("layouts.application.pages"), pages_path
  .clear
