-if @active_tag

  #contextual-navigation-title
    %h1
      = "Topic > " << h(current_tags.to_s).capitalize

  #contextual-navigation
    %ul
      %li.channels
        =link_to h("layouts.application.channels"), links_path #channels_path
      %li.newswires
        =link_to t("layouts.application.wires"), items_path #{:tags => @active_tag}
      %li.items
        =link_to t("layouts.application.items"), items_path
      %li.users
        =link_to t("layouts.application.users"), users_path
      %li.links
        =link_to t("layouts.application.bookmarks"), bookmarks_path
      %li.pages.last
        =link_to t("layouts.application.pages"), pages_path
  .clear

-else

  #contextual-navigation
    #contextual-navigation-title
      %h1
        = "Discussions > " << h(current_tags.to_s).capitalize
    %ul
      %li.channels
        =link_to h("layouts.application.channels"), links_path #channels_path
      %li.newswires
        =link_to t("layouts.application.wires"), items_path #{:tags => @active_tag}
      %li.items
        =link_to t("layouts.application.items"), items_path
      %li.users
        =link_to t("layouts.application.users"), users_path
      %li.links
        =link_to t("layouts.application.bookmarks"), bookmarks_path
      %li.pages.last
        =link_to t("layouts.application.pages"), pages_path
  .clear
