
#channel-container
  color: white

.channel-container-inner
  width: 1032px
  //height: 25px
  line-height: 16px
  //margin: 0 auto
  padding: 0 8px
  border-left: 2px solid gainsboro
  border-right: 2px solid gainsboro


ul.channel_listing-horizontal
  width: 1025px

.channel_listing_horizontal
  height: 25px
  -webkit-padding-start: 0px
  line-height: 25px

.channel_listing_horizontal li
  display: inline
  height: 23px
  margin: 0
  +rounded(8px,8px,0,0)
  padding: 3px 2px 7px 0
  background-image: url(/images/white_25_bg.png)
  background-repeat: repeat


  //background-color: #111111
  //border-bottom: 1px solid #111111
  //behavior: url(/PIE.htc)
  &:hover

    background-image: url(/images/black_25_bg.png)
    background-repeat: repeat

.channel_listing_horizontal li.selected
  display: inline
  height: 23px
  margin: 0
  +rounded(8px,8px,0,0)
  padding: 0px 2px 4px 0
  //background-color: #111111
  //border-bottom: 1px solid #111111
  //behavior: url(/PIE.htc)
  &:hover

    background-image: url(/images/white_25_bg.png)
    background-repeat: repeat

.channel_listing_horizontal a
  font-weight: normal
  color: #ffffff
  font-size: 12px
  padding: 2px 15px
  //margin: 8px

  &:hover
    font-weight: normal
    color: #ffffff
    font-size: 12px
    text-decoration: none


.channels span.label
  float: left
  font-weight: bold


  margin: 0 auto

.channel_listing_horizontal
  padding: 0 
  //margin: 4px auto 0 auto
  //-webkit-padding-start: 0px



