


.channels span.label
  float: left
  font-weight: bold

.channel-container-inner
  //height: 16px
  line-height: 16px
  margin: 0 auto

.channel_listing_horizontal
  padding: 0 
  margin: 4px auto 0 auto
  -webkit-padding-start: 0px

#channel-container
  //height: 24px
  color: white

.channel-container-inner
  width: 1032px
  line-height: 16px
  //margin: 0 auto
  padding: 0 8px
  border-left: 2px solid gainsboro
  border-right: 2px solid gainsboro



.channel_listing_horizontal li
  display: inline

  margin: 0
  +rounded(8px,8px,0,0)
  padding: 4px 2px
  background-color: #111111
  border-bottom: 1px solid #111111
  //behavior: url(/PIE.htc)


.channel_listing_horizontal a
  font-weight: bold
  color: #ffffff
  font-size: 12px
  padding: 0px 16px
  //margin: 8px

  &:hover
    font-weight: bold
    //background-color: #333431
    //background-image: url(/images/white_25_bg.png)
    //background-repeat: repeat
    color: #ffffff
    font-size: 12px
    text-decoration: underline
