button
  .facebook
    +fancy-button-structure
    +fancy-button-colors-matte(#3b5997)
    +fancy-button-size(16px, 8px, 1px)
    white-space: nowrap
    width: 196px
    line-height: 24px
    margin-bottom: 8px
    img
      border: 2px inset
      //-webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
      //-moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
      //box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    -webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    -moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    box-shadow: 0px -1px 2px rgba(0,0,0,0.25)



a#facebook_auth
  +fancy-button-structure
  +fancy-button-colors-matte(#3b5997)
  +fancy-button-size(16px, 8px, 1px)
  white-space: nowrap
  width: 196px
  line-height: 24px
  margin-bottom: 8px
  img
    border: 2px inset
    //-webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    //-moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    //box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
  -webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
  -moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
  box-shadow: 0px -1px 2px rgba(0,0,0,0.25)

a#thinkingdaily_auth
  +fancy-button-structure
  +fancy-button-colors-matte(#4183AF)
  +fancy-button-size(16px, 8px, 1px)
  white-space: nowrap
  width: 196px
  height: 24px
  line-height: 20px
  margin-bottom: 8px
  font-family: "Georgia"
  font-size: 18px
  font-weight: bold
  letter-spacing: -1px
  img
    //border: 1px outset white
    //-webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    //-moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    //box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
  -webkit-font-smoothing:antialiased
  -webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
  -moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
  box-shadow: 0px -1px 2px rgba(0,0,0,0.25)

a#twitter_auth
  +fancy-button-structure
  +fancy-button-colors-matte(#000000)
  +fancy-button-size(16px, 8px, 1px)
  white-space: nowrap
  width: 196px
  line-height: 24px
  margin-bottom: 8px
  img
    border: 1px outset white
    //-webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    //-moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    //box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
  -webkit-font-smoothing:antialiased
  -webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
  -moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
  box-shadow: 0px -1px 2px rgba(0,0,0,0.25)

a#google_auth
  +fancy-button-structure
  +fancy-button-colors-matte(#DCDCDC)
  +fancy-button-size(16px, 8px, 1px)
  white-space: nowrap
  width: 196px
  height: 32px
  line-height: 32px
  margin-bottom: 8px
  img
    border: 1px outset white
    //-webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    //-moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    //box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
  -webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
  -moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
  box-shadow: 0px -1px 2px rgba(0,0,0,0.25)

a#linkedin_auth
  +fancy-button-structure
  +fancy-button-colors-matte(#dcdcdc)
  +fancy-button-size(16px, 8px, 1px)
  white-space: nowrap
  width: 196px
  height: 24px
  margin-bottom: 8px
  img
    border: 1px solid white
    -webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    -moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
  -webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
  -moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
  box-shadow: 0px -1px 2px rgba(0,0,0,0.25)



