#twitter-and-facebook
  text-align: center
  a#twitter_auth
    margin-left: 20px

a#facebook_auth
  +fancy-button-structure
  +fancy-button-colors-matte(#4C6EA9)
  +fancy-button-size(16px, 8px, 1px)
  white-space: nowrap
  width: 256px
  margin-bottom: 8px
  img
    border: 1px solid white
    -webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    -moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    box-shadow: 0px -1px 2px rgba(0,0,0,0.25)

a#twitter_auth
  +fancy-button-structure
  +fancy-button-colors-matte(#A0E8EB)
  +fancy-button-size(16px, 8px, 1px)
  white-space: nowrap
  width: 256px
  margin-bottom: 8px
  img
    border: 1px solid white
    -webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    -moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
  -webkit-font-smoothing:antialiased

a#google_auth
  +fancy-button-structure
  +fancy-button-colors-matte(#DCDCDC)
  +fancy-button-size(16px, 8px, 1px)
  white-space: nowrap
  width: 256px
  margin-bottom: 8px
  img
    border: 1px solid white
    -webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    -moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    box-shadow: 0px -1px 2px rgba(0,0,0,0.25)

a#linkedin_auth
  +fancy-button-structure
  +fancy-button-colors-matte(#DCDCDC)
  +fancy-button-size(16px, 8px, 1px)
  white-space: nowrap
  width: 256px
  margin-bottom: 8px
  img
    border: 1px solid white
    -webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    -moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
    box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
