@import "compass/utilities/tables"
@import "compass/utilities/lists/horizontal-list"
@import "compass/utilities/general/tag-cloud"


@import mixins
@import base
@import buttons
@import footer
@import toolbar
@import header
@import channel
@import basic
@import navigation

@import autocomplete
@import feeds

@import markdown
@import markdown_editor
@import validation
@import menu

// @import plans

// @import jhtmlarea

@import announcements
@import tag_cloud

@import sessions
@import autosuggest

th
  background-color: #333333
  color: white
  font-weight: bold
  padding: 8px

tr
  background-color: white
  &:hover
    background-color: gainsboro

#messages li
  list-style: none

textarea.text_area
  height: 120px

textarea.comment_text_area
  height: 60px
  border-bottom: 1px solid #DDD
  border-left: 2px solid #CCC
  border-right: 1px solid #DDD
  border-top: 2px solid #CCC
  width: 468px
  +rounded(4px,4px,4px,4px)

#container #header h1 img
  vertical-align: middle
  height: 50px



#main-doc
  background-color: white
  text-align: center
  padding-top: 1em

.beta_info
  font-weight: bold

.vote-icon
  margin-right: 0.5em




a.missing_page
  &:link, &:visited, &:hover, &:active
    color: red

a.important
  color: #CE0000 !important
  font-weight: bold

.comment-form
 

.comment-form-item
  width: 100%


#default_footer
  margin: 10px 0
  font-size: 9px

.widget
  &#badges, &#users
    white-space: nowrap

.add_answer_comment_link
  font-weight: bold
  font-size: 14px
  margin-left: 1.2em


