-#= stylesheet_link_merged :mobile

%link{:href => "/stylesheets/jquery-ui.css",  :rel => "stylesheet", :media => "screen", :type => "text/css"}

%link{:href => "#{group_style_mobile_group_path(current_group)}.css",  :rel => "stylesheet", :media => "screen", :type => "text/css"}

-if current_group.has_custom_css?
  %link{:href => "#{css_group_path(current_group)}",  :rel => "stylesheet", :media => "screen", :type => "text/css"}

= yield :css

