%meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }

-#=javascript_include_tag "i18n/#{I18n.locale}"

=yield :head

-if current_group.favicon_path?
  %link{:rel=>"icon", :type=>"image/png", :href=>"#{current_group.favicon_path}"}
-else
  %link{:rel=>"icon", :type=>"image/png", :href=>"/images/logos/star.ico"}

=render :partial => "shared/layout/feeds"
