
#lead{:style=>"margin-top:10px; height:90px"}
  .welcome-index{:style => "float:left; width:729px;"}
    .content
      .inner
        .leaderboard{:style=>"width:728px;height:90px; float:left;"}
          = "<!--/ Leaderboard /-->"
          = current_group.leaderboard_content
  .sidebar-inner{:style => "float:right; width:300px;"}
    .block
      %div{:style=>"width:300px;height:90px; overflow:hidden; background-color:gainsboro;"}
        = "&nbsp;"
  .clear
