

= render :partial => "mobile_quick_create", :locals => {:expanded => false}
= render :partial => "mobile_questions", :locals => {:expanded => false}
= render :partial => "mobile_quick_contact", :locals => {:expanded => false}







