-content_for :subtabs do
  .navtitle
    =t("wiki.diff.title", :prev => @prev, :curr => @curr)

=render :partial => "wiki/diff", :locals => {:post => @answer, :prev => @prev, :curr => @curr, :scope => "activerecord.attributes.answer" }

%br
.form
  .group.navform
    = link_to(t("wiki.actions.all_history"), history_item_answer_path(@item, @answer))
    = t("global.or")
    = link_to(t("wiki.actions.back_to_item"), item_path(@item))
