-require_js 'jsMath/easy/load.js'

#item
  #item-title
    %h2
      = link_to h(@item.title), item_path(@item)
  #item-body.markdown
    = markdown(@item.body)

.subtitle
  = t('activerecord.models.answer')

#answers
  =render :partial=> "items/answer", :locals=> {:item => @item, :answer => @answer, :comment => Answer.new}
