%h4.sidebar
  = "<img src='/images/logos/star_16.png' height='14px' width='14px'/>"
  =h("#{current_group.leaders_label}")
.content
  %ul.members-list
    -widget.active_users(current_group).each do |user|
      -#if user.login != "admin"
      -if width == "wide"
        %li{:style => "height:64px"}
          = render :partial => "users/user_mini", :locals => {:user => user, :width => "wide"}
      -if width == "narrow"
        %li{:style => "height:32px"}
          = render :partial => "users/user_mini", :locals => {:user => user, :width => "narrow"}
  .more
    =link_to t("scaffold.more"), users_path
  .clear
.clear


