%h3
  =t(".title")
.content
  %ul.list
    -widget.recent_groups.each do |group|
      %li
        = image_tag(favicon_group_path(group), :style => "height:16px; width:16px; background-color:#{group.secondary};")
        = link_to h(group.name), domain_url(:custom => group.domain)

  .more
    =link_to t("scaffold.more"), groups_path
  .clear
.clear
