%h3
  =h("#{current_group.leaders_label}")
.content
  %ul.members-list
    -widget.top_users(current_group).each do |user|
      -if user.login != "admin"
        %li{:onclick => "document.location.href='#{user_path(user)}'"}
          = render :partial => "users/user_mini", :locals => {:user => user}
  .more
    =link_to t("scaffold.more"), users_path
  .clear
.clear
