%h3
  =t(".title")

.content
  %ul.list
    -widget.top_groups.each do |group|
      %li
        = image_tag(favicon_group_path(group), :style => "background-color:#{group.secondary};")
        = link_to h(group.name), domain_url(:custom => group.domain)

  .more
    =link_to t("scaffold.more"), groups_path
  .clear
.clear
