-if @mode
  - create_mode = "layouts.create." << @mode
  -# url = domain_url(:custom => current_group.domain) << "/add/new?item[mode]=" << @mode
  - url = domain_url(:custom => current_group.domain) << "/add/new?mode=" << @mode

  = link_to '&#9733;'<< t(create_mode), url, :rel => 'nofollow', :mode => @mode , :class=>"create-button", :style => "background-color: "+current_group.primary+";"

-else
  = "no mode"
