-if @mode
  -form_tag(new_create_path) do
    -create_mode = "layouts.create." << @mode
    =hidden_field_tag 'mode', @mode
    =submit_tag '&#9733;'<< t(create_mode), :class=>"create-button", :style => "background-color: "+current_group.primary+";"
-else
  = "no mode"
