-if list_mode == "standard"
  = render :partial => "/items/list_item_standard", :locals => {:item => item}

-if list_mode == "thumbnail"
  = render :partial => "/items/list_item_thumbnail", :locals => {:item => item}

