.member
  .author
    .user_data
      -if @item.anonymous
        = t("global.anonymous")
      -else
        = render :partial => "users/member_details", :locals => {:user => @item.user}

  .clear
.clear
