.block

  .heading{:style=>"margin-top:10px;height:20px; line-height:20px; border-bottom:1px solid gainsboro;"}
    = "Participants"


  .content
    %ul.list
      -@answers.each do |answer|
        %li{:onclick => "document.location.href='#{user_path(answer.user)}'"}
          -#if answer.user.login != "admin"
          = render :partial => "users/user_mini", :locals => {:answer => answer, :user => answer.user, :width => "narrow"}






