.block

  %h3
    = "Participants"


  .content
    %ul.list
      -@answers.each do |answer|
        %li{:onclick => "document.location.href='#{user_path(answer.user)}'"}
          -#if answer.user.login != "admin"
          = render :partial => "users/user_mini", :locals => {:answer => answer, :user => answer.user, :width => "narrow"}






