-solution = item.accepted && item.answer_id == answer.id
-source = item_path(@item)


.participant
  .author
    = render :partial => "users/participant", :locals => {:answer => answer, :user => answer.user}




