%h3
  = "Participants"
.content
  %ul.list
    -@answers.each do |answer|
      %li{:onclick => "document.location.href='#{user_path(answer.user)}'"}
        = render :partial => "users/participant", :locals => {:answer => answer, :user => answer.user}






