- is_mobile = params[:mobile]
- is_classic = params[:classic]

- content_for :main do



  - if current_group.group_type == "mobile"
    = render :partial => "index_mobile", :locals=> {:item => @item, :doctype => @doctype}

  - else is_classic || current_group.group_type == "classic"
    = render :partial => "index_classic", :locals=> {:item => @item, :doctype => @doctype}
