
- rendering_start = Time.now
- is_mobile = params[:mobile]

- session["return_to"] = request.referrer unless request.referrer.blank?

-if current_group.registered_only
  %h1
    IMPORTANT: You must be logged in to see this site


Layout

- if is_mobile || current_group.group_type == "mobile"
  = render :partial => "/items/new_mobile"
- else
  = render :partial => "/items/new"
