.navlinks
  cursor: pointer

.tertiary-button

  background-image: url(/images/buttons/section_bg.png)
  background-repeat: repeat-x
  height: 16px
  line-height: 14px
  margin: 4px 4px 4px 0
  color: white
  cursor: pointer
  overflow: visible
  float: left
  font-weight: bold
  font-size: 10px
  text-align: center
  text-spacing: -1px
  padding: 0 13px 0 13px
  +rounded(2px,2px,2px,2px)
  &:hover
    color: gainsboro

.create-item-button 

  background-image: url(/images/buttons/section_bg.png)
  background-repeat: repeat-x
  height: 16px
  width: 140px
  line-height: 16px
  margin: 4px 4px 4px 0
  color: #eee
  cursor: pointer
  overflow: visible
  float: left
  font-weight: bold
  font-size: 10px
  text-spacing: -1px
  text-transform: uppercase
  padding: 0 8px 0 4px
  +rounded(4px,4px,4px,4px)
  &:hover
    color: #666


.section-button 

  background-image: url(/images/buttons/section_bg.png)
  background-repeat: repeat-x
  height: 16px
  line-height: 14px
  margin: 4px 4px 4px 0
  color: white
  cursor: pointer
  overflow: visible
  float: left
  font-weight: bold
  font-size: 10px
  text-align: center
  text-spacing: -1px
  padding: 0 13px 0 13px
  +rounded(2px,2px,2px,2px)
  &:hover
    color: gainsboro

  &.showhide
    width: 80px
  &.show
    width: 80px
  &.hide
    width: 80px
    cursor: n-resize


.standard-button 
  border: 1px solid #6d6d6d
  background: #cdcdcd
  background-image: url(/images/buttons/section_bg.png)
  background-repeat: repeat-x
  height: 16px
  line-height: 16px
  margin: 4px 4px 4px 0
  color: #6d6d6d
  cursor: pointer
  overflow: visible
  float: left
  font-weight: normal
  font-size: 10px
  text-align: center
  text-shadow: white 0px 1px 1px
  padding: 0 13px 0 13px
  +rounded(2px,2px,2px,2px)


.toolbar-button
  font-weight: normal
  font-size: 10px
  text-transform: uppercase
  color: white
  padding: 2px 7px 2px 3px
  background-image: url(/images/buttons/section_bg.png)
  background-repeat: repeat-x
  //background-position: -1px
  height: 14px
  line-height: 16px
  margin: 3px 0 3px 3px
  +rounded(2px,2px,2px,2px)

  &a
    color: black

.bug-button
  font-weight: normal
  font-size: 10px
  text-transform: uppercase
  color: white
  padding: 2px 7px 2px 3px
  background-image: url(/images/buttons/section_bg.png)
  background-repeat: repeat-x
  //background-position: -1px
  height: 14px
  line-height: 16px
  margin: 3px 0 3px 3px
  +rounded(2px,2px,2px,2px)

  &a
    color: black

.ownerflair
  font-family: impact
  font-weight: normal
  font-size: 8px
  text-transform: uppercase
  text-shadow: black 0px -1px 1px
  color: white
  padding: 1px 0 1px 2px
  background-image: url(/images/buttons/section_bg.png)
  background-repeat: repeat-x
  background-position: -1px
  height: 12px
  line-height: 14px
  margin: 2px 4px 2px 0
  +rounded(2px,2px,2px,2px)
  a
    color: white

.editorflair
  font-family: impact
  font-weight: normal
  font-size: 8px
  text-transform: uppercase
  color: white
  padding: 1px 0 1px 2px
  background-image: url(/images/buttons/section_bg.png)
  background-repeat: repeat-x
  background-position: -1px
  height: 12px
  line-height: 14px
  margin: 2px 4px 2px 0
  +rounded(2px,2px,2px,2px)
  a
    color: white

.edit-button
  float: right
  background-color: #990000
  background-image: url(http://pegasus.one:3000/images/buttons/section_bg.png)
  background-repeat: repeat-x
  background-position: 3px
  border: 1px solid #990000
  color: white
  font-size: 10px
  font-weight: normal
  height: 26px
  line-height: 26px
  margin: 0 3px 0 3px
  padding: 0 8px
  text-transform: uppercase
  text-shadow: #990000 0px -1px 1px
  +rounded(4px,4px,4px,4px)
  &a:hover
    color: white
    text-decoration: underline

.action-button
  float: right
  background-color: green //#990000
  background-image: url(/images/buttons/section_bg_32.png)
  background-repeat: repeat-x
  background-position: 3px
  border: 1px solid green //#990000
  color: white
  font-size: 12px
  font-weight: bold
  height: 26px
  line-height: 26px
  margin: 0 3px 0 3px
  padding: 0 16px
  text-transform: uppercase
  text-shadow: green 0px -1px 1px
  +rounded(4px,4px,4px,4px)
  a:hover
    color: white


.share
  &.button
    height: 20px
    width: 96px
    line-height: 20x
    margin-right: 4px
    background-color: gainsboro
    cursor: pointer  
    overflow: visible
    text-shadow: white 0px 1px 1px
    float: left
    color: white
    font-family: arial, sans
    font-size: 8px
    padding: 2px 7px
    text-decoration: none
    text-transform: uppercase
    border: 1px solid #ababab
    +rounded(1px,1px,1px,1px)

    font-size: 0.75em
    font-weight: normal
    padding: 3px
  img
    border-top: 1px solid #ababab
    border-left: 1px solid #ababab
    border-bottom: 1px solid white
    border-right: 1px solid white
    //+rounded(2px,2px,2px,2px)

a.button
  height: 26px
  line-height: 66x
  margin-right: 4px
  background-image: url(/images/buttons/bg.gif)
  border: 1px solid #ababab
  color: black
  cursor: pointer  
  overflow: visible
  float: left
  +rounded(4px,4px,4px,4px)
  img
    margin: 2px
    border-top: black 1px 0px 1px
    text-shadow: white 0px 1px 1px
    //line-height: 66px

  .watch
    float: left
    border: green

  .unwatch
    float: left
    border: red

a
  &.create-button
    width: 255px
    font-weight: normal
    font-size: 12px
    text-transform: uppercase
    color: white
    padding: 1px 3px
    background-image: url(/images/buttons/section_bg.png)
    background-repeat: repeat-x
    background-position: -1px
    height: 26px
    line-height: 14px
    margin: 2px 4px
    +rounded(2px,2px,2px,2px)
    img
      float: left
    .label
      float: right
  &.sidebar-button
    width: 234px
    height: 26px
    line-height: 26px
    margin-right: 3px
    margin-bottom: 13px
    background-image: url(/images/buttons/bar_bg_pink.gif)
    border: 1px solid #ababab
    color: #333
    cursor: pointer  
    overflow: visible
    vertical-align: middle
    float: left
    font-weight: normal
    font-size: 1em
    text-shadow: white 0px 1px 1px
    +rounded(4px,4px,4px,4px)
    img
      float: left
    .label
      float: right

    .sidebar
      width: 234px
      background: #ababab -webkit-gradient(linear, 0% 0%, 0% 100%, from(gainsboro), to(#ababab))
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(gainsboro), to(#ababab))    
      border: 1px solid #ababab
      color: white
      font-family: impact
      
      &:hover
        background: #990000 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ababab), to(#990000))
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ababab), to(#990000))    
        border: 1px solid #ababab
        color: black

  .favourite
    float: left
    border: black

.button-like
  height: 20px
  line-height: 20px
  text-align: middle
  font-weight: normal
  font-size: 11px
  border: 1px solid #ababab
  text-shadow: white 0px 1px 1px
  padding: 0
  background-color: silver
  background-image: url(/images/buttons/section_bg.png)
  color: #333
  +rounded(4px,4px,4px,4px)

.button-dislike
  height: 20px
  line-height: 20px
  font-weight: normal
  font-size: 11px
  border: 1px solid #ababab
  text-shadow: white 0px 1px 1px
  padding: 0
  background-color: gainsboro
  background-image: url(/images/buttons/section_bg.png)
  color: #333
  margin-right: 4px
  +rounded(4px,4px,4px,4px)






