#toolbox
  width: 696px
  height: 28px
  padding: 3px 3px 3px 3px
  background-color: gainsboro
  +rounded(4px,4px,4px,4px)
  //background-image: url('/images/buttons/bar_bg.gif')
  //background-repeat: repeat-x
  //border-top: 2px solid #990000



.entry-details
  border-top: 0
  border-left: 13px solid gainsboro
  padding-left: 13px
  padding-top: 13px
  margin-top: 0px
  margin-bottom: 13px

.entry-controls
  float: right

.entry-title
  font-weight: bold
  font-size: 1.5em
  font-color: #ababab
  

.entry-authors
  font-size: 0.75em
  font-color: #bababa
  .user-data
    margin: 4px 0

.entry-content
  width: 100%
