
.inner-content
  background-color: white
  &:hover
    background-color: #eeeeee
    cursor: pointer

.image-link-wide
  height: 80px
  background-color: white
  padding: 4px 0
  border-bottom: 1px solid #dcdcdc
  cursor: pointer
  &:hover
    background-color: #eeeeee

.sponsored-link-wide
  height: 40px
  background-color: white
  padding: 4px 0
  border-bottom: 1px solid #dcdcdc
  cursor: pointer
  &:hover
    background-color: #eeeeee


.toolbox
  width: 574px
  height: 35px
  line-height: 35px
  margin: 0
  display: inline-block

  padding: 0 8px 0 8px
  margin:  0
  color: #fff

  font-size: 12px
  font-weight: bold
  background: #bbbbbb

  //filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#dcdcdc',endColorstr='#bbbbbb')
  //background: -webkit-gradient(linear,left top,left bottom,from(#dcdcdc),to(#bbbbbb))
  //background: -moz-linear-gradient(top,#dcdcdc,#bbbbbb)

  border-bottom: 1px solid #ffffff

  -webkit-font-smoothing:antialiased
  small
    font-weight: normal






.toolbox-inner

  height: 26px
  line-height: 32px
  width: 239px
  margin: 0
  padding: 2px 0 0 2px  
  &:hover
    background-color: #eee
  display: inline-block

  padding: 2px 8px 6px 8px
  margin:  0
  color: #fff
  text-shadow: -1px -1px 0 rgba(0,0,0,0.25)
  font-size: 14px
  font-weight: bold
  letter-spacing: -1px
  background: gainsboro

  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#dcdcdc',endColorstr='#bbbbbb')
  background: -webkit-gradient(linear,left top,left bottom,from(#dcdcdc),to(#bbbbbb))
  background: -moz-linear-gradient(top,#dcdcdc,#bbbbbb)

  border-bottom: 1px solid #bbb

  -webkit-font-smoothing:antialiased
  small
    font-weight: normal


.entry-details
  border-top: 0

  padding: 0 13px
  margin-top: 13px
  margin-bottom: 13px

.entry-controls
  float: right

.entry-title
  font-weight: bold
  font-size: 1.5em
  line-height: 1.5em
  font-color: #ababab
  

.entry-authors

  margin-bottom: 0.25em
  font-color: #bababa
  .user-data
    margin: 4px 0

.entry-content
  width: 100%
