a.beta
  text-transform: uppercase
  letter-spacing: -1px
  color: white
  line-height: 12px
  font-family: small
  font-size: 10px
  font-weight: bold
  padding: 1px 3px
  margin-bottom: 2px
  //height: 10px
  +rounded(2px,2px,2px,2px)

.footer-information
  border-top: 4px solid #ababab
  border-bottom: 4px solid white
  //background-image: url(/images/backgrounds/section_listings_bg.png)
  //background-repeat: repeat-x
  color: #ababab
  height: 128px
  padding-top: 8px

.hosting-partner
  height: 64px
  width: 468px
  font-size: 10px
  .logo
    float: right
    margin: 12px 0
  .details
    margin: 12px 4px
    float: right
    text-align: left
    &a
      color: #ababab
      font-weight: bold


#footer
  width: 962px
  border-top: 4px solid #ababab
  padding: 0
  margin-left: auto
  margin-right: auto
  margin-top: 26px

  a
    font-weight: normal

  .block
    font-size: 12px
    padding: 0
    text-align: right

  ul
    //display: inline
    li
      display: inline





