.text-field
  font-weight: bold
  padding: 8px
  +rounded(8px,8px,8px,8px)

.form
  background-color: gainsboro
  input.text, textarea.textarea
    border: 1px solid #ddd
    padding: 5px


  input.text_field, textarea.text_area
    border: 2px solid #ddd
    font-family: arial, sans-serif
    padding: 8px
    +rounded(8px,8px,8px,8px)

  .navform
    padding: 10px
    font-size: 14px
    +rounded(4px,4px,4px,4px)

    input
      font-size: 14px

.login-form-holder
  background-color: white
  +rounded(8px,8px,8px,8px)
  padding: 8px
  margin: 8px
  min-height: 208px

.login-form
  display: inline-block
  padding: 4px 8px
  margin: 0
  color: #fff
  text-shadow: -1px -1px 0 rgba(0,0,0,0.25)
  font-size: 12px
  font-weight: bold
  -webkit-font-smoothing:antialiased

.input-holder
  +rounded(8px,8px,8px,8px)  
  padding: 4px
  height: 32px
  .label
    font-size: 16px
    font-weight: bold
    padding: 4px    

  .text-field
    height: 24px
    font-weight: bold
    padding: 4px
    +rounded(4px,4px,4px,4px)

.input-holder-password
  +rounded(8px,8px,0px,8px)  
  padding: 4px
  height: 32px

  .text-field
    height: 24px
    font-weight: bold
    padding: 4px
    +rounded(4px,4px,4px,4px)

.remember
  float: right
  padding: 2px 8px
  +rounded(0px,0px,8px,8px)
  .label
    height: 16px
    line-height: 16px
    font-size: 12px
    font-weight: bold



  small
    font-weight: normal
  a
    color: white
  a:hover
    color: #eee

