
#channel-container

  color: white

.channel-container-inner
  width: 1032px
  line-height: 16px
  //margin: 0 auto
  padding: 0 8px
  border-left: 2px solid gainsboro
  border-right: 2px solid gainsboro

.channel_listing_horizontal
  height: 24px
  
  margin: 4px auto 0 auto
  padding: 2px 0
  -webkit-padding-start: 0px
  //float: left
  line-height: 24px

.channel_listing_horizontal li
  display: inline

  margin: 0
  +rounded(8px,8px,0,0)
  padding: 4px 2px
  background-color: #111111
  border-bottom: 1px solid #111111
  //behavior: url(/PIE.htc)


.channel_listing_horizontal a
  font-weight: bold
  color: #ffffff
  font-size: 12px
  padding: 4px 16px
  //margin: 8px

  &:hover
    font-weight: bold
    //background-color: #333431
    //background-image: url(/images/white_25_bg.png)
    //background-repeat: repeat
    color: #ffffff
    font-size: 12px
    text-decoration: underline

#header-container
  height: 40px
  padding: 0

#header-container-inner
  width: 1032px
  height: 40px
  margin: 0 auto 4px auto
  padding: 0 8px

  border-left: 2px solid gainsboro
  border-right: 2px solid gainsboro


#header
  font-family: impact, "arial narrow", sans
  height: 56px
  padding: 0
  h1 a
    &:link, &:active, &:hover, &:visited
      color: #eaeaea

  #label
    float: left
    height: 32px
    .label
      float: left  
      margin: 4px 0 4px -1px
      font-size: 1em
      color: white
      text-transform: uppercase

    .label-highlight
      float: left    
      margin: 4px 7px 4px -1px
      font-size: 40px
      text-transform: uppercase
      letter-spacing: -2px
    .label-special
      float: left    
      margin: 4px 0 4px -3px  
      //padding: 0.05em 0.1em 0.05em 0
      font-size: 40px
      //font-weight: bold
      color: white
      //background-color: white
      //border: 1px solid black
      text-transform: uppercase
      letter-spacing: -2px



  #logo
    float: left
    margin: 12px 0 0 0
    width: 32px
    height: 32px








