.panes div.pane
  display: none	
  min-height: 500px


ul.member-tabs
  list-style: none
  margin: 0 !important
  padding: 0
  border-bottom: 1px solid #666
  height: 30px

ul.member-tabs li
  float: left
  text-indent: 0
  padding: 0
  margin: 0 !important
  list-style-image: none !important

ul.member-tabs a 
  background: url(http://static.flowplayer.org/tools/img/member-tabs/blue.png) no-repeat -420px 0 no-repeat -420px 0
  font-size: 11px
  display: block
  height:  30px
  line-height: 30px
  width:  134px
  text-align: center
  text-decoration: none
  color: #333
  padding: 0px
  margin: 0px
  position: relative
  top: 1px

ul.member-tabs a:active
  outline: none

ul.member-tabs a:hover
  background-position: -420px -31px
  color: #fff

ul.member-tabs a.current, ul.member-tabs a.current:hover, ul.member-tabs li.current a
  background-position:  -420px -62px
  cursor: default !important
  color: #000 !important

ul.member-tabs a.s
  background-position: -553px 0 
  width: 81px

ul.member-tabs a.s:hover 	
  background-position: -553px -31px

ul.member-tabs a.s.current  
  background-position: -553px -62px


//w2
ul.member-tabs a.l
  background-position:  -248px -0px 
  width: 174px 
ul.member-tabs a.l:hover 	
  background-position:  -248px -31px 
ul.member-tabs a.l.current  
  background-position:  -248px -62px 


//w3
ul.member-tabs a.xl
  background-position:  0 -0px 
  width: 248px 
ul.member-tabs a.xl:hover 	
  background-position:  0 -31px 
ul.member-tabs a.xl.current 
  background-position:  0 -62px 

.panes .pane
  display: none		


