.secondary-navigation ul li a
  &:link, &:visited, &:hover, &:active
    text-decoration: none
    font-weight: bold
    color: white
    padding: 2px 4px
    margin: 5px 4px 0px 0px
    line-height: 16px

.secondary-navigation
  //background-color: gainsboro
  height: 32px
  line-height: 22px
  font-size: 11px
  font-weight: bold

  h3
    height: 32px
    line-height: 32px
    margin: 0
    padding: 3px
    color: white
    font-weight: bold
    font-size: 16px 
    border-bottom: 1px solid white
  ul
    float: right

  ul li
    color: black
  
  .navcontrols
    background-color: gainsboro
    height: 32px
    line-height: 32px



.secondary-navigation-sections
  width: 703px
  height: 32px
  line-height: 32px
  border-bottom: 1px solid white

  &:hover
    //cursor: pointer 

  .navlabel
    color: white
    font-weight: bold

    padding-left: 4px
    float: left
    a
      color: white
    a:hover
      color: black

  .navlinks
    color: white
    font-weight: normal
    font-size: 12px

    padding-right: 4px
    float: right

    &:hover
      color: black

  .navcontrols
    float: right
    ul
      border: 0
      padding: 0
      li
        line-height: 26px
        border: 0
        padding: 0
        margin: 0

        a.spin
          line-height: 26px
          font-weight: normal
          font-size: 1em
          //border: 1px solid #ababab
          text-shadow: white 0px 1px 1px
          padding: 0 13px 0 13px
