


.secondary-navigation ul li a
  &:link, &:visited, &:hover, &:active
    text-decoration: none
    font-weight: bold
    color: white
    padding: 2px 4px
    margin: 5px 4px 0px 0px
    line-height: 16px

.secondary-navigation
  //background-color: gainsboro
  height: 32px
  line-height: 22px
  font-size: 11px
  font-weight: bold

  h3
    height: 32px
    line-height: 32px
    margin: 0
    padding: 3px
    color: white
    font-weight: bold
    font-size: 16px 
    border-bottom: 1px solid white
  ul
    float: right

  ul li
    color: black
  
  .navcontrols
    background-color: gainsboro
    height: 32px
    line-height: 32px



