

.search-box
  background-image: url('/images/white_25_bg.png')
  
  height: 32px
  width: 300px
  margin-top: 16px
  padding: 0px
  +rounded(6px,6px,6px,6px)
  -webkit-box-shadow: -1px -1px 5px rgba(0,0,0,0.15)
  -moz-box-shadow: -1px -1px 5px rgba(0,0,0,0.15)
  box-shadow: -1px -1px 5px rgba(0,0,0,0.15)

.search_field
  margin-top: 1em
