.inner-teaser
  white-space: wrap
  overflow: hidden
  text-overflow: ellipsis
  height: 60px
  width: 233px

.summary-list-text
  margin: 4px 0

.summary-text-item
  &:hover
    background-color: #dcdcdc




#summary-header
  width: 821px
  float: left
  .section-topic
    font-weight: bold
    a:hover
      color: #6D6D6D    

  small
    a
      color: #6D6D6D


  ul
    list-style-type: none
    li
      //margin-bottom: 12px

  ul.features
    list-style-type: none
    li
      margin: 0 0 4px 0
      padding: 4px 0 4px 0
      border-bottom: 1px dotted #dcdcdc 

      .thumbnail
        float: left
        width: 96px
      .content
        float: right
        width: 149px
      &:hover
        //background-color: #dcdcdc 


  ul.listing
    list-style-type: none
    li
      height: 20px
      line-height: 20px
      margin: 0
      overflow: hidden
      border-bottom: 1px dotted #dcdcdc
    li:hover
      background-color: #ddd
      //background-image: url(/images/black_25_bg.png)

    li.latest
      height: 128px

    li.latest:hover
      background-color: transparent
      //background-image: url(/images/black_25_bg.png)

    .icon
      height: 20px
      line-height: 14px
      img
        height: 14px
        width: 14px

    .latest-link
      a
        font-size: 14px
        background-color: transparent
    .updated
      font-weight: normal
      font-size: 8px
      text-transform: uppercase
      color: white
      text-shadow: #ccc 0px -1px 1px
      text-shadow: orange 0px 1px 1px
      padding: 1px 3px
      background-color: orange
      border: 1px solid orange
      background-image: url(/images/buttons/section_bg.png)
      background-repeat: repeat-x
      background-position: -1px
      height: 14px
      line-height: 14px
      margin: 2px 1px
      +rounded(2px,2px,2px,2px)        
    .new
      font-weight: normal
      font-size: 8px
      text-transform: uppercase
      color: white
      text-shadow: #ccc 0px -1px 1px
      text-shadow: green 0px 1px 1px
      padding: 1px 3px
      background-color: green
      border: 1px solid green

      height: 14px
      line-height: 14px
      margin: 2px 1px
      +rounded(2px,2px,2px,2px) 
    .active
      height: 14px
      line-height: 14px   
    .hot
      font-weight: normal
      font-size: 8px
      text-transform: uppercase
      color: white
      padding: 1px 3px
      background-color: red
      border: 1px solid red

      height: 14px
      line-height: 14px
      margin: 2px 1px
      +rounded(2px,2px,2px,2px) 

#summary-header-welcome
  #width: 700px
  float: left
  .section-topic
    font-weight: bold
    a:hover
      color: #6D6D6D    

  small
    a
      color: #6D6D6D


  ul
    list-style-type: none
    li
      //margin-bottom: 12px

  ul.features
    list-style-type: none
    li
      border-bottom: 1px dotted #dcdcdc 

      .thumbnail
        float: left
        width: 96px
      .content
        float: right
        width: 139px
      &:hover
        //background-color: #dcdcdc 


  ul.listing
    list-style-type: none
    li
      height: 20px
      line-height: 20px
      margin: 0
      overflow: hidden
      border-bottom: 1px dotted #dcdcdc
    li:hover
      background-color: #ddd
      //background-image: url(/images/black_25_bg.png)

    li.latest
      height: 128px

    li.latest:hover
      background-color: transparent
      //background-image: url(/images/black_25_bg.png)

    .icon
      height: 20px
      line-height: 14px
      img
        height: 14px
        width: 14px

    .latest-link
      a
        font-size: 14px
        background-color: transparent
    .edited
      font-weight: normal
      font-size: 9px
      text-transform: uppercase
      color: white
      padding: 1px 3px
      background-color: red
      border: 1px solid red
      height: 14px
      line-height: 14px
      margin: 2px 1px
      +rounded(2px,2px,2px,2px)        
    .active
      font-weight: normal
      font-size: 9px
      text-transform: uppercase
      color: white
      padding: 1px 3px
      background-color: orange
      border: 1px solid orange
      height: 14px
      line-height: 14px
      margin: 2px 1px
      +rounded(2px,2px,2px,2px) 
    .new
      font-weight: normal
      font-size: 9px
      text-transform: uppercase
      color: white
      padding: 1px 3px
      background-color: green
      border: 1px solid green
      height: 14px
      line-height: 14px
      margin: 2px 1px
      +rounded(2px,2px,2px,2px) 
    .active
      height: 14px
      line-height: 14px   
    .hot
      font-weight: normal
      font-size: 8px
      text-transform: uppercase
      color: white
      text-shadow: #ccc 0px -1px 1px
      text-shadow: #990000 0px 1px 1px
      padding: 1px 3px
      background-color: #990000
      border: 1px solid #990000
      background-image: url(/images/buttons/section_bg.png)
      background-repeat: repeat-x
      background-position: -1px
      height: 14px
      line-height: 14px
      margin: 2px 1px
      +rounded(2px,2px,2px,2px)   
    
.section-listing-welcome
  width: 703px
  border-bottom: 1px solid white
  background-image: url(/images/backgrounds/section_listings_bg.png)
  background-repeat: repeat-x
  overflow: hidden

  .listings-centre
    float: left
    border-left: 1px solid white
    border-right: 1px solid #6d6d6d
    border-bottom: 12px solid #ddd
    height: 160px
    width: 565px
    .title
      height: 16px
      line-height: 16px
      background-color: #ddd
      font-family: verdana
      font-size: 10px
      font-weight: bold
      color: #6d6d6d
      padding: 0 4px

.section-listing
  width: 100%
  border-bottom: 1px solid white
  background-image: url(/images/backgrounds/section_listings_bg.png)
  background-repeat: repeat-x
  overflow: hidden

  
  .listings-left
    float: left
    border-right: 1px solid #6d6d6d
    border-bottom: 12px solid #ddd
    height: 160px
    width: 141px

  .listings-centre
    float: left
    border-left: 1px solid white
    border-right: 1px solid #6d6d6d
    border-bottom: 12px solid #ddd
    height: 160px
    width: 420px

  .listings-right
    float: left
    border-left: 1px solid white
    border-bottom: 12px solid #ddd
    height: 160px
    width: 256px
    .inner-content
      padding: 0
      margin: 0
      width: 168px
      float: right
      .inner-mode
        font-family: verdana
        font-size: 10px
        font-weight: bold
        color: #6d6d6d   
      .inner-link
        height: 30px
        overflow: hidden


  .title
    height: 16px
    line-height: 16px
    background-color: #ddd
    font-family: verdana
    font-size: 10px
    font-weight: bold
    color: #6d6d6d
    padding: 0 4px

  .content
    padding: 0 4px
    margin: 4px 0


.section-listing-welcome
  //width: 100%
  border-bottom: 1px solid white
  background-image: url(/images/backgrounds/section_listings_bg.png)
  background-repeat: repeat-x
  overflow: hidden

  
  .listings-left
    float: left
    border-right: 1px solid #6d6d6d
    border-bottom: 12px solid #ddd
    height: 160px
    width: 141px

  .listings-centre
    float: left
    border-left: 1px solid white
    border-right: 1px solid #6d6d6d
    border-bottom: 12px solid #ddd
    height: 160px
    width: 560px

  .listings-right
    float: right
    border-left: 1px solid white
    border-bottom: 12px solid #ddd
    height: 160px
    width: 256px
    .inner-content
      padding: 0
      margin: 0
      width: 168px
      float: right
      .inner-mode
        font-family: verdana
        font-size: 10px
        font-weight: bold
        color: #6d6d6d   
      .inner-link
        height: 30px
        overflow: hidden


  .title
    height: 16px
    line-height: 16px
    background-color: #ddd
    font-family: verdana
    font-size: 10px
    font-weight: bold
    color: #6d6d6d
    padding: 0 4px

  .content
    padding: 0
    margin: 0



.ui-state-highlight
  border: 1px dotted orange
  height: 26px
  width: 100%x
  margin: 12px 0





