.strapline

  line-height: 32px

  margin-left: 8px
  padding-left: 8px
  height: 32px
  font-weight: normal
  font-family: arial
  letter-spacing: 0px

.user-toolbar
  height: 32px
  margin: 16px 0
  float: right

.logo
  height: 64px


.logo-text
  margin-top: 26px
  margin-left: 8px
  height: 28px
  line-height: 28px
  font-family: georgia
  font-size: 20px
  font-weight: bold
  letter-spacing: -2px
  a
    padding: 4px 0 4px 0
    font-family: georgia
    font-size: 28px
    text-transform: lowercase
    letter-spacing: -2px
    -webkit-font-smoothing:antialiased

#logo-container
  margin-top: 32px
  min-height: 64px
  clear: both


.logo-container-inner
  width: 1032px
  margin: 0 auto 0 auto
  padding: 0 8px
  height: 64px
  //background-image: url(/images/black_50_bg.png)


.toolbar-container-inner
  width: 1032px
  margin: 0 auto 0 auto
  padding: 0 8px
  border-left: 2px solid pink
  border-right: 2px solid #A9A5A7
  height: 32px
  //background-image: url(/images/black_50_bg.png)

#toolbar-container
  position: absolute
  z-index: 100
  height: 32px
  margin-top: -32px
  width: 100%
  border-bottom: 1px solid #333
  //width: 1032px
  background-color: black
  -moz-box-shadow: 0px 1px 5px #fff
  -webkit-box-shadow: 0px 1px 5px #000
  box-shadow: 0px 1px 5px #000
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#ffffff')

#toolbar
  //background-color: black
  //padding: 0 24px


  //font-size: 0.75em
  font-weight: normal
  float: right
  text-shadow:  -1px -1px 2px #000
  color: white
  width: 984px
  height: 32px
  line-height: 32px
  margin: 0 auto
  //+rounded(0px,0px,8px,8px)

  a
    color: white
    &:hover
      text-decoration: none


  .item
    float: right
    margin-top: 2px
    height: 18px
    line-height: 18px
    background-color: #990000
    padding: 1px 7px
    color: white
    //font-weight: bold
    font-family: impact
    text-transform: uppercase
    +rounded(4px,4px,4px,4px)
   
    a:hover
      background-color: white     
      color: #990000
    &:hover
      background-color: white
      color: #990000  
    a
      color: white
  .edition
    float: left
  .entry
    float: right
    margin-left: 4px
    .gravatar
      line-height: 20px
      display: inline
      margin-bottom: -5px
      width: 18px
    .reputation
      font-weight: bold
      font-size: 10px
      background: #777777
      color: #fff
      +rounded(4px,4px,4px,4px)
      padding: 2px 4px

    #search-field
      background: white url(/images/search-icon.png) no-repeat 0% 50%
      padding-left: 17px
      border: 1px solid gray

  .createbox
    font-weight: bold

    padding: 0
    margin: 0
    list-style: none
    list-style-position: outside
    display: inline
    &:hover
      background-color: black
    li
      float: left
      width: 160px
      margin-right: 0
      &:hover ul
        left: auto
        z-index: 2

      ul
        position: absolute
        width: 160px
        line-height: 26px
        //background-color: red
        display: block
        //border: 1px solid #DCDCDC
        left: -999em
        list-style: none
        +rounded(0,0,8px,8px)
        li 
          width: 100%
          height: 26px
          line-height: 26px
          display: block
          padding: 4px
          clear: both
          &:hover
            background-color: #555051
          a
            //padding: 4px
            color: #ffffff
            text-decoration: none
            text-shadow: none
            display: block
      img
        margin: 4px
        //height: 18px
        //width: 18px
        float: left


  .combobox
    font-weight: bold
    padding: 0
    margin: 0
    list-style: none
    list-style-position: outside
    display: inline
    &:hover
      background-color: black
    li
      float: left
      width: 256px
      margin-right: 0
      &:hover ul
        left: auto
        z-index: 2

      ul
        position: absolute
        width: 256px
        line-height: 26px
        //background-color: red
        display: block
        //border: 1px solid #DCDCDC
        left: -999em
        list-style: none
        +rounded(0,0,8px,8px)
        li 
          width: 100%
          height: 26px
          line-height: 26px
          display: block
          padding: 4px
          clear: both
          &:hover
            background-color: #555051
          a
            //padding: 4px
            color: #ffffff
            text-decoration: none
            text-shadow: none
            display: block
      img
        margin: 4px
        //height: 18px
        //width: 18px
        float: left


  ul.combobox li:hover ul, ul.combobox li.sfhover ul
    left: auto
    max-height: 40em
    overflow: hidden

