- content_for :main do

  %h1
    ="Add a profile image to your account"
  .description
    ="You can have multiple images associated with your account"
 

  -form_for @avatar, :html => {:multipart => true} do |f|
    = f.error_messages

    %p
      = f.file_field :avatar
    %p
      = f.submit 'Create'



  = link_to 'Back', avatars_path
