.tag-list
  font-size: .785em
  overflow: hidden
  line-height: 20px

  a
    font-size: 11px
    color: white
    padding: 2px 4px
    +rounded(2px,2px,2px,2px)

  ul
    list-style-type: none

  .tag
    margin: 2px 2px 8px 2px
    display: inline
    overflow: visible
    float: left
    +rounded(4px,4px,4px,4px)
    //-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.5)
    //-moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.5)
    //box-shadow: 1px 2px 2px rgba(0,0,0,0.5)
    -webkit-font-smoothing:antialiased
    a
      &:link, &:active, &:visited
        height: 18px
        line-height: 18px
        cursor: pointer  
        overflow: visible
        float: left
        +rounded(4px,4px,4px,4px)

        color: white
        padding: 1px 8px 1px 8px
        //margin: 3px 0 0 0 

        font-size: 12px
        font-weight: bold

        //-webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
        //-moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
        //box-shadow: 0px -1px 2px rgba(0,0,0,0.25)
        -webkit-font-smoothing:antialiased

      &:hover
        color: #000000


  .retag
    margin: 2px 2px 8px 2px
    display: inline
    overflow: visible
    float: left
    background: none
    border: none
    a
      &:link, &:active, &:visited
        color: #cccccc
        height: 18px
        line-height: 18px
        cursor: pointer  
        overflow: visible
        float: left
        padding: 1px 8px 1px 8px

        font-size: 12px
        font-weight: bold


      &:hover
        color: #000000

      &.remove_tag
        background: #E55252 !important
        padding: 0px 2px
        font-weight: bold

        border: none
        &:hover
          color: #ffdede
          background: #810000 !important

.tag-multiplier
  font-size: 125%
  color: #555
  font-weight: bold
  margin-left: 5px
  display: inline
  font-family: Helvetica

.tag_cloud
  a.tag
    text-decoration: none
    line-height: 26px
