
.clear
.footer-mobile{:style=>"width:480px;padding:16px 0;margin:0 16px;font-size:0.8em;border-top:0px solid #{current_group.secondary};border-radius:0 0 8px 8px"}
  .footer
    .left{:style=>"width:50%; font-weight:bold;line-height:32px;letter-spacing:-1px;"}
      = "Every business needs a mobile FAQ : <a>Why?</a>"
    .right
      %button.inner-button{:onclick=>"window.location=\'#{new_group_path}/?mobile=true\'",:style=>"width:200px;"}
        = "Get y<u>our</u> mobile FAQ"
  .clear



















