
- if request.user_agent.include?("iPhone") then
  = "<meta name=\"viewport\" content=\"width=512, initial-scale=1\">"
- else
  = "<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">"
