
- if request.user_agent.include?("iPhone") then
  = "<meta name=\"viewport\" content=\"width=device-width, initial-scale=0.55, user-scalable=yes\" />"
- else
  = "<meta name=\"viewport\" content=\"512\", initial-scale=1, user-scalable=yes\" />"

= "<meta name=\"apple-mobile-web-app-capable\" content=\"yes\" />"
= "<meta name=\"apple-mobile-web-app-status-bar-style\" content=\"black-translucent\" />"
