- rendering_start = Time.now

- is_mobile = params[:mobile]

- if is_mobile
  = render :partial => "/layouts/layout_application_mobile"
- else
  = render :partial => "/layouts/layout_application"










