- rendering_start = Time.now
- is_mobile = params[:mobile]

- if is_mobile || current_group.group_type == "mobile"
  = render :partial => "/layouts/layout_sessions_mobile"
- else
  = render :partial => "/layouts/layout_sessions"
